<!DOCTYPE html>
<html>
<head>
    <title>MTS - {{ title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="{{ base_url }}assets/frontend/css/jquery.bxslider.css">
    <link rel="stylesheet/less" href="{{ base_url }}assets/frontend/css/style.less">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ base_url }}assets/frontend/css/less.js"></script>
    <script type="text/javascript" src="{{ base_url }}assets/frontend/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="{{ base_url }}assets/frontend/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="{{ base_url }}assets/frontend/js/slider.js"></script>
    <script type="text/javascript" src="{{ base_url }}assets/frontend/js/main.js"></script>
</head>
